Checks: >
  -*,
  bugprone-*,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-pro-type-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  -performance-enum-size,
  readability-container-size-empty,
  readability-misleading-indentation,
  readability-redundant-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i|j|kv|id'
